* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui;
}
html {
  background-image: url(mc.png);
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: system-ui;
}
.main {
  width: 800px;
  height: 750px;
  background-color: #e076e4;
  position: absolute;
  top: 100px;
  left: 550px;
  border: 10px solid #e653e8;
  border-radius: 20px;
}
.flex {
  position: absolute;
  top: 20px;
}
.container {
  position: absolute;
  top: 350px;
  left: 50px;
  display: flex;
  gap: 5px;
  width: 900px;
  height: 80px;
  flex-direction: row;
  flex-wrap: nowrap;
}
.container1 {
  position: absolute;
  top: 435px;
  left: 50px;
  display: flex;
  gap: 5px;
  width: 900px;
  height: 80px;
  flex-direction: row;
  flex-wrap: nowrap;
}
.container2 {
  position: absolute;
  top: 520px;
  left: 50px;
  display: flex;
  gap: 5px;
  width: 900px;
  height: 80px;
  flex-direction: row;
  flex-wrap: nowrap;
}
.container3 {
  position: absolute;
  top: 615px;
  left: 50px;
  display: flex;
  gap: 5px;
  width: 900px;
  height: 80px;
  flex-direction: row;
  flex-wrap: nowrap;
}
.item {
  background-color: #e653e8;
  width: 80px;
  height: 80px;
}
.character {
  width: 240px;
  height: 340px;
  background-color: #e653e8;
  position: absolute;
  top: 20px;
  left: 20px;
}
.steve {
  background-color: black;
  width: 135px;
  height: 320px;
  position: absolute;
  top: 10px;
  left: 95px;
}
.steve > img {
  width: 90%;
  height: 80%;
  position: absolute;
  top: 60px;
  left: 7px;
}
.armors {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 80px;
  height: 300px;
  position: absolute;
  top: 10px;
  left: 10px;
}
.armor {
  background-color: #e076e4;
  height: 75px;
  width: 75px;
}
.armor > img {
  width: 100%;
  height: 100%;
}
.word {
  position: absolute;
  top: 45px;
  left: 300px;
  color: white;
  font-size: 20px;
}
.square {
  width: 80px;
  height: 80px;
  background-color: #e653e8;
}
.one {
  position: absolute;
  top: 70px;
  left: 300px;
}
.second {
  position: absolute;
  top: 70px;
  left: 385px;
}
.third {
  position: absolute;
  top: 155px;
  left: 300px;
}
.fourth {
  position: absolute;
  top: 155px;
  left: 385px;
}
.arrow {
  position: absolute;
  top: 130px;
  left: 520px;
}
.fifth {
  position: absolute;
  top: 115px;
  left: 650px;
}
.fifth > img {
  width: 80px;
  height: 80px;
}
.one > img {
  width: 80px;
  height: 80px;
}
.sixth {
  width: 85px;
  height: 85px;
  background-color: #e076e4;
  border: 4px solid #e653e8;
  position: absolute;
  top: 275px;
  left: 270px;
}
.seventh {
  background-color: #e653e8;
  border: 5px solid #e076e4;
  border-radius: 30px;
  position: absolute;
  top: 265px;
  left: 400px;
  padding: 5px;
}
.seventh > img {
  width: 80px;
  height: 80px;
}
.item > img {
  width: 80px;
  height: 80px;
}
.item:hover {
  border: 3px solid white;
}
.armor:hover {
  border: 3px solid white;
}
.square:hover {
  border: 3px solid white;
}
.seventh:hover {
  border: 3px solid white;
}
